      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="./images/about-banner-1.png" alt="House interior">

            <img src="./images/about-banner-2.jpg" alt="House interior" class="abs-img">
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">The Leading Real Estate Rental Marketplace in Sierra Leone.</h2>

            <p class="about-text">
              Welcome to Homehub, Sierra Leone's leading real estate marketplace where house owners and 
              tenants/buyers connect seamlessly. Our mission is to simplify the real estate experience by 
              providing a comprehensive, user-friendly platform that caters to all your property needs.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <p class="about-item-text">Smart Home Design</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <p class="about-item-text">Beautiful Scene Around</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="wine-outline"></ion-icon>
                </div>

                <p class="about-item-text">Exceptional Lifestyle</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <p class="about-item-text">Complete 24/7 Security</p>
              </li>

            </ul>

            <p class="callout">
              At Homehub Agency, we believe that finding your dream home should be an 
              exciting and enjoyable experience. Our platform is designed to make the 
              process of buying, selling, or renting properties as seamless 
              and stress-free as possible. 
            </p>

            <a href="#service" class="btn">Our Services</a>

          </div>

        </div>
      </section>