<main>
    <article>

<!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>Homehub Housing Agency</span>
            </p>

            <h2 class="h1 hero-title">Find Your Dream House By Us</h2>

            <p class="hero-text">
              At Homehub Agency, we believe that finding your dream home should be an exciting and enjoyable experience. Our platform is designed to make the process of buying, selling, or renting properties as seamless and stress-free as possible.
            </p>

            <a href="/create-apartment">
            <button class="btn">Create Post</button>
          </a>
          </div>

          <figure class="hero-banner">
            <img src="./images/hero-banner.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section>
