 <!-- 
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Our Main Focus</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./images/service-1.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/all-properties">Buy a home</a>
                </h3>

                <p class="card-text">
                  At HomeHub SL Agency, we specialize in providing comprehensive real estate services. Whether you are looking to sell, rent, or buy a home, our dedicated team is here to guide you through every step of the process. If you’re in the market to buy, our knowledgeable agents will help you find the perfect home that meets all your requirements.
                </p>

                <a href="/all-properties" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./images/service-2.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/all-properties">Rent a home</a>
                </h3>

                <p class="card-text">
                  At HomeHub SL Agency, we understand the importance of finding a place that feels like home. With a deep understanding of the market and a commitment to client satisfaction, we strive to make your real estate experience seamless and successful. Discover the perfect home with HomeHub SL Agency today. 
                </p>

                <a href="/all-properties" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="./images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/all-properties">Sell a home</a>
                </h3>

                <p class="card-text">
                  Experience the difference with HomeHub SL Agency, where your home journey begins. When you choose to sell your home with us, we use our market expertise and innovative strategies to secure the best possible price. For those looking to rent, we offer a diverse selection of properties to match your unique lifestyle and budget. 
                </p>

                <a href="/all-properties" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>