<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service Fee Agreement</title>
  
  <link rel="stylesheet" href="./css/terms.css">
</head>
<body>

    <header class="header" data-header>

        <div class="overlay" data-overlay></div>
    
        <div class="header-top">
          <div class="container">
    
            <ul class="header-top-list">
    
              <!-- <li>
                <a href="mailto:info@homeverse.com" class="header-top-link">
                  <ion-icon name="mail-outline"></ion-icon>
    
                  <span>info@homeverse.com</span>
                </a>
              </li> -->
    
              <li>
                <a href="#" class="header-top-link">
                  <ion-icon name=""></ion-icon>
    
                  
                </a>
              </li>
    
            </ul>
    
            <div class="wrapper">
              <!-- <ul class="header-top-social-list">
    
                <li>
                  <a href="#" class="header-top-social-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                  </a>
                </li>
    
                <li>
                  <a href="#" class="header-top-social-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                  </a>
                </li>
    
                <li>
                  <a href="#" class="header-top-social-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                  </a>
                </li>
    
                <li>
                  <a href="#" class="header-top-social-link">
                    <ion-icon name="logo-pinterest"></ion-icon>
                  </a>
                </li>
    
              </ul> -->
    
              <!-- <form action="/logout" method="get">
                <button class="header-top-btn">
                  <i class="fas fa-sign-out-alt"></i> Logout
                </button>
                </form> -->
            </div>
    
          </div>
        </div>
      </header>

  <div class="container">
    <div class="card">
      <h2>Service Fee Agreement</h2> <br>
      <p>This Service Fee Agreement ("Agreement") is a legal contract between you ("User") and HOMEHUB AGENCY ("Agency") regarding the payment of service fees as outlined in our Terms and Conditions. By signing up for an account on the HOMEHUB AGENCY application, you acknowledge that you have read, understood, and agree to comply with the terms of this Agreement.</p>
      <div class="card-content">

        <h3>1. Services</h3>
        <p>The Agency provides a platform for connecting real landlords and house owners to tenants and buyers of properties and landed properties.
        </p><br>

        <h3>2. Payment of Service Fees</h3>
        <p>Upon the successful completion of any rental or purchase transaction facilitated by the Agency, both the Owner and the Buyer agree to pay a service fee equal to 5% of the stipulated amount to the Agency.</p>
        <p>2.2. Owners may post their properties for sale, rent, or lease on the application.
        </p><br>

        <h3>3. Compliance</h3>
        <p>The User acknowledges and agrees to comply with the payment terms set forth herein and in the Terms and Conditions of the Agency.
        </p><br>

        <h3>4. Payment Method</h3> 
        <p>The service fees shall be paid to the Agency within [number] days of the completion of the transaction, and payment shall be made via [payment method specified by the Agency].</p><br>
        
        <h3>5. Non-Refundable</h3>
        <p>The User understands and agrees that the service fees are non-refundable, regardless of the outcome of the transaction.</p><br>

        <h3>6. Governing Law</h3>
        <p>6.1. Any disputes arising under these Terms and Conditions shall be resolved through negotiation and, if necessary,
             mediation in accordance with the laws of [insert jurisdiction].</p><br>

        <h3>7. Entire Agreement</h3>
        <p>This Agreement constitutes the entire agreement between the User and the Agency concerning the subject matter herein and supersedes all prior and contemporaneous agreements and understandings, whether oral or written.By signing up for an account on the HOMEHUB AGENCY application, you confirm your acceptance of the terms of this Agreement.
        </p><br>         
    </div>
    </div>
  </div>

  <!-- Ionicons link for icons -->
  <script src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Font Awesome link for icons -->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
