<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/success.css">
    <title>Contact Success</title>

    <style>
        body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-message {
    text-align: center;
    margin-bottom: 30px;
}

.success-message h1 {
    color: hsl(9, 100%, 62%);
}

.add-another-reception {
    text-align: center;
}

.add-another-reception a {
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(9, 100%, 62%);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-another-reception a:hover {
    background-color: hsl(9, 91%, 57%);
}

/* a {
    text-decoration: none;
} */

a {
    text-decoration: none;
    position: relative;
}

a::after {
    content: 'Click me';
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

a:hover::after {
    opacity: 1;
}

    </style>
</head>
<body>
    <div class="container">
        <div class="success-message">
            <h1>Message sent successfully!</h1>
            <p>We will get back to you as soon as possible. Your message has been received...</p>
        </div>        
        <div class="add-another-reception">
            <a href="" onclick="goBack()">Go Back</a>
        </div>
    </div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>